{% extends 'layouts/site.html.twig' %}

{% block title %}{{ 'app.title'|trans }}{% endblock %}

{% block content %}

    <div class="row">
        <ul>
            <li>page 404 etc<span class="label label-warning">todo</span></li>
            <li>Form project => bouton +/- pour lot + améliorer mep<span class="label label-warning">todo</span></li>
            <li>Activation user => nouveau mot de passe + mail<span class="label label-warning">todo</span></li>
            <li>Suppression Tasklist => is_active=0<span class="label label-warning">todo</span></li>
            <li>Ajouter fonction twig boolean==true => <i class="fa fa-check"></i><span class="label label-warning">todo</span></li>
            <li>Faire format task.users form twig<span class="label label-warning">todo</span></li>
            <li>Modification date frise <span class="label label-warning">todo</span></li>
            <li>Action tableau liste <span class="label label-warning">todo</span></li>
            <li>Recherche frise <span class="label label-warning">todo</span></li>
            <li>Filtre/tri/pagination tableau liste <span class="label label-warning">todo</span></li>
            <li>Export csv tableau liste <span class="label label-warning">todo</span></li>
            <li>Commentaire = éditeur html <span class="label label-warning">todo</span></li>
            <li>Page about => protection des données <span class="label label-warning">todo</span></li>
            <li>Envoi email création user <span class="label label-warning">todo</span></li>
            <li>JS ES6 <span class="label label-warning">todo</span></li>
            <li>Ajout created_at et created_by <span class="label label-warning">todo</span></li>
            <li>Ajouter organisations <span class="label label-warning">todo</span></li>
            <li>Ajouter propriétés/task type <span class="label label-warning">todo</span></li>
        </ul>
    </div>

{% endblock %}